
<%- include("./coursestyle.ejs") %>
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <!-- Student User -->
  <% if (usertype === "Student") { %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/student/course/<%= course._id %>"><strong>Home</strong></a>
        </li>
        
        <!-- Course Resources -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Course Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">|Course Resources|</h6>
            <a class="dropdown-item" href="https://tophat.com/" target="_blank">TopHat</a>
            <a class="dropdown-item" href="https://www.zybooks.com/" target="_blank">zyBooks</a>
            <a class="dropdown-item" href="https://drive.google.com/drive/folders/1co7vzY9_75cCiuNTHXCGf3pKbpf_TTwC" target="_blank">Course Drive</a>
            <a class="dropdown-item" href="https://www.w3schools.com/" target="_blank">W3Schools</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">|About|</h6>
            <a class="dropdown-item" href="https://www.w3schools.com/" target="_blank">Developers</a>
          </div>
        </li>

        <!-- Current Assignments -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Assignments
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">|Current Assignments|</h6>
            <% assignments.forEach(assignment => { %>
              <% const currentTime = new Date() %>
              <% if (assignment.status === "open"){ %>
                <%if (assignment.deadline < currentTime) { %>
                    <a class="dropdown-item" href="/student/course/<%= course._id %>/assignment/<%= assignment._id %>" style="color: red;"><%= assignment.assignmentName %>(Late)</a>
                <% } else { %>
                    <a class="dropdown-item" href="/student/course/<%= course._id %>/assignment/<%= assignment._id %>"><%= assignment.assignmentName %></a>
                <% } %>
              <% } %>
            <% }) %>

            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">|Previous Assignments|</h6>
            <% assignments.forEach(assignment => { %>
              <% const currentTime = new Date() %>
              <% if (assignment.status === "close"){ %>
                <a class="dropdown-item" href="/student/course/<%= course._id %>/pastassignment/<%= assignment._id %>"><%= assignment.assignmentName %></a>
              <% } %>
            <% }) %>
          
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/student/course/<%= course._id %>/grade">Grade</a>     
        </li>
      </ul>

        <a href="/student/dashboard" style="font-size: 1.4em; color: white; text-decoration: none;">
          <span class="badge badge-pill badge-dark"><%= typeof user !="undefined" ? user: "" %></span>
          <span class="badge badge-pill badge-warning">Student</span>
        </a>
        <a class="nav-link" href="/users/logout">Sign out</a>
    </div>
  </nav>

    <!-- Instructor -->
  <% } else { %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/instructor/course/<%= course._id %>"><strong>Home</strong></a>
        </li>
        <!-- Course Resources -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Course Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">|Course Resources|</h6>
            <a class="dropdown-item" href="https://tophat.com/" target="_blank">TopHat</a>
            <a class="dropdown-item" href="https://www.zybooks.com/" target="_blank">zyBooks</a>
            <a class="dropdown-item" href="https://drive.google.com/drive/folders/1co7vzY9_75cCiuNTHXCGf3pKbpf_TTwC" target="_blank">Course Drive</a>
            <a class="dropdown-item" href="https://www.w3schools.com/" target="_blank">W3Schools</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">|About|</h6>
            <a class="dropdown-item" href="/instruction" target="_blank">Instruction</a>
          </div>
        </li>

        <!-- Current Assignments -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Assignments
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">|Create Assignment|</h6>
            <a class="dropdown-item" href="/instructor/course/<%= course._id %>/newAssignment">New Assignment</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">|Current Assignments|</h6>
            <% assignments.forEach(assignment => { %>
              <% const currentTime = new Date() %>
              <% if (assignment.status === "open"){ %>
                <%if (assignment.deadline < currentTime) { %>
                    <a class="dropdown-item" href="/student/course/<%= course._id %>/assignment/<%= assignment._id %>" style="color: red;"><%= assignment.assignmentName %>(Late)</a>
                <% } else { %>
                    <a class="dropdown-item" href="/student/course/<%= course._id %>/assignment/<%= assignment._id %>"><%= assignment.assignmentName %></a>
                <% } %>
              <% } %>
            <% }) %>

            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">|Previous Assignments|</h6>
            <% assignments.forEach(assignment => { %>
              <% const currentTime = new Date() %>
              <% if (assignment.status === "close"){ %>
               <a class="dropdown-item" href="/student/course/<%= course._id %>/pastassignment/<%= assignment._id %>"><%= assignment.assignmentName %></a>
              <% } %>
            <% }) %>
          
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/instructor/course/<%= course._id %>/grade"><strong>Grade</strong></a>        
        </li>
      </ul>

        <a href="/instructor/dashboard" style="font-size: 1.4em; color: white; text-decoration: none;">
          <span class="badge badge-pill badge-dark"><%= typeof user !="undefined" ? user: "" %></span>
          <span class="badge badge-pill badge-danger">Instructor</span>
        </a>
        <a class="nav-link" href="/users/logout">Sign out</a>
    </div>
  </nav>
  <% } %>
 
  

