<%- include("./partials/courseheader") %>



  <!-- dashboard -->
  
  <main role="main" class="col-md-9 ml-sm-auto col-lg-11 px-4">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2"><%= course.courseName %></h1>
    </div>

    <%- include("./partials/messages.ejs") %>


    <!-- Student User -->
    <% if (usertype === "Student") { %>

      <!-- Displays Current Assignments -->
      <div class="card">
        <div class="card-header">
          Class Overview
        </div>
        <div class="card-body">
          <h5 class="card-title">Current Assignments</h5>
          <% if (classOverviews.length > 0) { %>
            <% classOverviews.forEach(co => { %>
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <p class="card-text">
                  <!-- Due date is before the current time -->
                  <% if (co.daysLeft > 0) { %>
                    <span class="badge badge-pill badge-dark"><%= co.assignmentName %></span>
                    
                    <% if (Math.floor(co.daysLeft/(1000 * 3600 * 24)) > 1) { %>
                      <span class="badge badge-pill badge-success"><%= Math.floor(co.daysLeft/(1000 * 3600 * 24)) %> days left</span>
                    <% } else { %>
                      <span class="badge badge-pill badge-danger"><%= Math.floor(co.daysLeft/(1000 * 3600)) %> hours left</span>
                    <% } %>

                    <% if (co.isSubmitted) { %>
                      <span class="badge badge-pill badge-success">Submitted</span>
                    <% } else { %>
                      <span class="badge badge-pill badge-warning">Not Submitted</span>
                    <% } %>

                    <!-- Due date has passed -->
                  <% } else { %>
                    <span class="badge badge-pill badge-danger"><%= co.assignmentName %></span>

                    <% if (co.isSubmitted) { %>
                      <span class="badge badge-pill badge-success">Submitted</span>
                    <% } else { %>
                      <span class="badge badge-pill badge-danger">Closed</span>
                    <% } %>
                  <% } %>
                </p>
              </div>
            <% }) %>
          <% } else { %>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <p class="card-text">There is no assignment from this course at the moment</p>
            </div>
          <% } %>  
        </div>
      </div><br><br>

      <!-- Displays Course Announcements -->
      <div class="card">
        <h5 class="card-header">Course Announcements</h5>
        <div class="card-body">
          <!-- If there is any announcement -->
          <% if (announces.length > 0) { %>
            <table class="table" style="line-height: 1em;">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Announcement</th>
                </tr>
              </thead>
              <tbody>
                <% announces.forEach(a => { %>
                  <tr>
                    <th scope="row">
                      <%= a.dateAdded.getMonth() + 1 %>/<%= a.dateAdded.getDate() %>/<%= a.dateAdded.getFullYear() %>
                    </th>
                    <td>
                      <a href="#" data-toggle="modal" data-target="#modal<%= a._id %>"><%= a.title %></a>
                    </td>
                  </tr>

                  <div class="modal fade" id="modal<%= a._id %>" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="<%= a._id %><%= a.title %>"><%= a.title %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <%= a.announcement %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </tbody>
            </table>
            <!-- No announcement -->
          <% } else { %>
            <p>There is no course announcement</p>
          <% } %>
        </div>
      </div>



      
    <!-- Instructor User -->
    <% } else { %>

      <!-- Displays Current Assignments -->
      <div class="card">
        <div class="card-header">
          Class Overview
        </div>
        <div class="card-body">
          <h5 class="card-title">Current Assignments</h5>
          <% if (classOverviews.length > 0) { %>
            <% classOverviews.forEach(co => { %>
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <p class="card-text">
                  <!-- Due date is before the current time -->
                  <% if (co.daysLeft > 0) { %>
                    <span class="badge badge-pill badge-dark"><%= co.assignmentName %></span>
                    
                    <% if (Math.floor(co.daysLeft/(1000 * 3600 * 24)) > 1) { %>
                      <span class="badge badge-pill badge-success"><%= Math.floor(co.daysLeft/(1000 * 3600 * 24)) %> days left</span>
                    <% } else { %>
                      <span class="badge badge-pill badge-danger"><%= Math.floor(co.daysLeft/(1000 * 3600)) %> hours left</span>
                    <% } %>

                    <% if (co.numberOfSubmissions < co.classSize) { %>
                      <span class="badge badge-pill badge-warning">Submissions <%= co.numberOfSubmissions %>/<%= co.classSize %></span>
                    <% } else { %>
                      <span class="badge badge-pill badge-success">Submissions <%= co.numberOfSubmissions %>/<%= co.classSize %></span>
                    <% } %>

                
                    <!-- Due date has passed -->
                  <% } else { %>
                    <span class="badge badge-pill badge-danger"><%= co.assignmentName %></span>
                    <span class="badge badge-pill badge-danger">needs to be closed</span>
                  <% } %>
                </p>
              </div>
            <% }) %>
          <% } else { %>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <p class="card-text">There is no assignment from this course at the moment</p>
            </div>
          <% } %>  
        </div>
      </div><br><br>

      <!-- Displays Course Announcements -->
      <div class="card">
        <h5 class="card-header">Course Announcements 
          <!-- Add Course Announcement -->
          <button type="button" class="btn btn-primary btn-sm" style="float: right;" data-toggle="modal" data-target="#addAnnouncement">
            Add
          </button>

          <!-- Modal -->
          <div class="modal fade" id="addAnnouncement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New Announcement</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/instructor/course/<%= course._id %>/addAnnouncement" method="POST">
                    <div class="form-group">
                      <label for="announcementTitle">Title</label>
                      <input type="txt" class="form-control" id="announcementTitle" name="title">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Announcement</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="announcement"></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </h5>
        <div class="card-body">
          <!-- If there is any announcement -->
          <% if (announces.length > 0) { %>
            <table class="table" style="line-height: 1em;">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Announcement</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% announces.forEach(a => { %>
                  <tr>
                    <th scope="row">
                      <%= a.dateAdded.getMonth() + 1 %>/<%= a.dateAdded.getDate() %>/<%= a.dateAdded.getFullYear() %>
                    </th>
                    <td>
                      <a href="#" data-toggle="modal" data-target="#modal<%= a._id %>"><%= a.title %></a>
                    </td>
                    <td>
                      <form action="/instructor/course/<%= course._id %>/deleteAnnouncement/<%= a._id %>" method="POST">
                        <button type="submit" style="border: none; background-color: white"><i class="far fa-trash-alt" style="color: red;"></i></button>
                      </form>
                    </td>
                  </tr>

                  <div class="modal fade" id="modal<%= a._id %>" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="<%= a._id %><%= a.title %>"><%= a.title %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p style="white-space: pre-wrap;"><%= `${a.announcement}` %></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </tbody>
            </table>
            <!-- No announcement -->
          <% } else { %>
            <p>There is no course announcement</p>
          <% } %>
        </div>
      </div>
    <% } %>
   
    
  </main>


<%- include("./partials/coursefooter") %>