<%- include("./partials/dashboardstyle.ejs") %>

<header>
  <% if (usertype === "Student") { %>
    <div class="navbar navbar-dark bg-warning shadow-sm">
  <% } else { %>
    <div class="navbar navbar-dark bg-danger shadow-sm">
  <% } %>
    <div class="container d-flex justify-content-between">

      
      <% if (usertype === "Student") { %>
        <h1><a href="/student/dashboard" style="color: white; text-decoration: none;"><i class="fas fa-graduation-cap"></i>EZTest</a></h1>
      <% } else { %>
        <h1><a href="/instructor/dashboard" style="color: white; text-decoration: none;"><i class="fas fa-graduation-cap"></i>EZTest</a></h1>
      <% } %>

      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
      
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
          <div class="container-fluid">
            <h6 class="dropdown-header">|Course Resources|</h6>
            <a class="dropdown-item" href="https://tophat.com/" target="_blank">TopHat</a>
            <a class="dropdown-item" href="https://www.zybooks.com/" target="_blank">zyBooks</a>
            <a class="dropdown-item" href="https://drive.google.com/drive/folders/1co7vzY9_75cCiuNTHXCGf3pKbpf_TTwC" target="_blank">Course Drive</a>
            <a class="dropdown-item" href="https://www.w3schools.com/" target="_blank">W3Schools</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">|About|</h6>
            <a class="dropdown-item" href="https://www.w3schools.com/" target="_blank">Developers</a>
          </div>
        </div>
      </div>

     
    </div>
  </div>
</header>

<main role="main">

    <h5 style="color: black; margin: 5px; display: inline;"><%= typeof user !="undefined" ? user: "" %>
      <% if (usertype === "Student"){ %>
        <span class="badge badge-pill badge-warning"><%= usertype %></span>    
        <% } else { %>
          <span class="badge badge-pill badge-danger"><%= usertype %></span>
       <% } %>
    </h5>
    <a class="btn btn-outline-secondary btn-sm active" href="/users/logout">Log out</a>
    <%- include("./partials/messages") %>
  <div class="album bg-light">
    <div> 
     <% if (usertype === "Student"){ %>
      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" style="float: right;">
        Enroll
      </button>     
      <% } else { %>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" style="float: right">
          Create Course
        </button> 
     <% } %>
    </div><br>
    
    <div class="container">
      <div class="row" >
        <% if(usertype === "Student"){ %>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create Course</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/student/dashboard" method="POST">
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Course Code</span>
                      </div>
                      <input type="text" class="form-control" name="courseCode" required>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Enroll</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        <% } else { %>

          <!-- Creating Course Window -->

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create Course</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/instructor/dashboard" method="POST">
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Course Name</span>
                      </div>
                      <input type="text" class="form-control" name="courseName" required>
                    </div>
  
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Section</span>
                      </div>
                      <label for="timeFrom" class="col-sm-2 col-form-label">From</label>
                      <input type="time" class="form-control" id="timeFrom" name="courseTime" required>
                      <label for="timeTo" class="col-sm-1 col-form-label">To</label>
                      <input type="time" class="form-control" id="timeTo" name="courseTime" required>
                    </div>
  
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Mon" name="days">
                        <label class="form-check-label">Mon</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Tue" name="days">
                        <label class="form-check-label">Tue</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Wed" name="days">
                        <label class="form-check-label">Wed</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Thur" name="days">
                        <label class="form-check-label">Thur</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Fri" name="days">
                        <label class="form-check-label">Fri</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Sat" name="days">
                        <label class="form-check-label">Sat</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="Sun" name="days">
                        <label class="form-check-label">Sun</label>
                      </div>
                    </div>
  
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Semester</span>
                      </div>
                      <select class="form-control form-control-sm" name="semester">
                        <option value="Srping">Spring</option>
                        <option value="Summer">Summer</option>
                        <option value="Fall">Fall</option>
                        <option value="Winter">Winter</option>
                      </select>
                    </div>
  
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Year</span>
                      </div>
                      <% let currentYear = new Date().getFullYear() %>
                      <select class="form-control form-control-sm" name="year">
                        <option value=<%= currentYear %>><%= currentYear %></option>
                        <option value=<%= currentYear+1 %>><%= currentYear+1 %></option>
                      </select>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        <% } %>
        
        


        <!-- Display Courses -->

        <% if (courses.length > 0) { %>
          <% courses.forEach(course => { %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h5 class="card-title"><%= course.courseName %></h5>
                  <p class="card-text">
                    <ul>
                      <li>Section: <%= course.section %></li>
                      <li>Instructor: <%= course.instructorName %></li>
                      <li>[Course Code] <span class="badge badge-pill badge-info"><%= course._id %></span></li>
                    </ul>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <% if (usertype === "Student"){ %>
                      <div class="btn-group">
                        
                     
                        <!-- Course Drop Button -->
                        <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#confirmDrop">Drop</button>
                        <a href="/student/course/<%= course._id %>" class="btn btn-sm btn-outline-dark" style="float: left;">Enter</a>

                        <!-- Confirm Widnow -->
                        <div class="modal fade" id="confirmDrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Are you sure to drop this course?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <form action="/student/course/<%= course._id %>" method="POST">
                                  <button type="submit" class="btn btn-sm btn-outline-danger" style="float: left;">Drop</a>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% } else { %>
                      <div class="btn-group">
                        
                        
                        <!-- Course Delete Button -->
                        <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#confirmDelete" style="float: right;">Delete</button>
                        <a href="/instructor/course/<%= course._id %>" class="btn btn-sm btn-outline-dark" style="float: left;">Enter</a>
                        <!-- Confirm Widnow -->
                        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Are you sure to delete this course?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <form action="/instructor/course/<%= course._id %>" method="POST">
                                  <button type="submit" class="btn btn-sm btn-outline-danger">Delete</a>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <% } %>
                      </div>
                  </div>
                </div>
              </div>
         <% }) %>
        <% } else { %>
            <% if (usertype === "Student"){ %>
              <div class="alert alert-warning" role="alert">
                You are not enrolled in any course. Please click "Enroll" button to enroll a course.
              </div>
            <% } else { %>
              <div class="alert alert-warning" role="alert">
                You currently have no course created. Please click "Create Course" button to create a course.
              </div>
            <% } %>
        <% } %>
      </div>
    </div>
  </div>

</main>
